.header {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(00, 00, 00, .2);
  height: 78px;
  margin-bottom: 25px;
}

.header__left, .header-right {
  float: left;
  width: 50%;
}

.header__left {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 1px;
}

.header__right {
  text-align: right;
  padding-top: 30px;
}

.user__avatar {
  border: 1px solid #bebebe;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.user__avatar-pic {
  display: block;
}

.user__name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 13px;
  max-width: 235px;
  margin-top: 4px;
}

.contacts {
  font-weight: 600;
  font-size: 18px;
  color: #33c1e3;
  text-decoration: none;
  padding-bottom: 0px;
  border-bottom: 1px dashed #33c1e3;
  margin-right: 9px;
}
