.main-page {
  padding: 0;
  background-image: url('../img/bg/geometry2.png');
}

.wrapper_hello {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    min-width: 320px;
    font-size: 0;
}

.main-content:before {
  content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.bg {
  display: inline-block;
    width: 300px;
    vertical-align: middle;
    font-size: 21px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);

	 &.bounce {
		opacity: 1;
		animation: bounce 1s;
	}
}

@keyframes bounce {
	from, 20%, 40%, 60%, 80%, 100% {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(.97, .97, .97);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

.bg__avatar-wrap {
      overflow: hidden;

}

.bg__avatar {
  position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 140px;
    height: 140px;
    border: 2px solid #cacaca;
    border-radius: 50%;
    overflow: hidden;
    //margin: 0 auto 15px;
}

.bg__avatar-img {
    border: 0;
    width: 100%;
}

.bg__avatar-text {
    display: inline-block;
    text-align: center;
    color: #414141;
    font-family: 'fira';
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    word-spacing: 200px;
    padding-top: 90px;
}

.bg__button {
  width: 300px;
  bottom: 0;
  text-align: center;
  background-color: #33c1e3;
  padding: 19px 81px;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
}

.bg__button-link {
    width: 138px;
    height: 40px;
    display: inline-block;
    padding: 10px 0 11px;
    font-size: 14px;
    font-family: 'fira';
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    line-height: 18px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    vertical-align: middle;
    box-sizing: border-box;
}
