.portfolio__list {
  margin-left: -20px;
  font-size: 0;
}

.portfolio__list * {
  font-size: 14px;
}

.portfolio__item {
  border-radius: 10px;
  background-color: rgb (255, 255, 2550);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  width: 220px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
}

.portfolio__link {
  display: block;
  text-decoration: none;
}

.portfolio__link:hover .portfolio__title{
  color: #e85f61;
}

.portfolio__pic {
  height: 180px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio__pic-img {
  position: absolute;
  top: 0;
  left: -9999px;
}

.portfolio__pic-elem {
  display: block;
  max-width: 100%;
}

.portfolio__desc {
  padding: 15px 0 13px 20px;
}

.portfolio__title {
  font-size: 21px;
  color: #33c1e3;
}

.portfolio__work-desc {
  font-size: 14px;
  color: #414141;
  margin-bottom: 10px;
  font-weight: 400;
}

.portfolio__type-icon, .portfolio__type-title {
  display: inline-block;
  vertical-align: middle;
}

.portfolio__type {
  color: #aeaeae;
  font-size: 14px;
}

.portfolio__type-icon {
  font-size: 18px;
}

.portfolio__type-title {
  max-width: 160px;
  margin-left: 5px;
}

.content__title_portfolio {
  margin-left: 0;
  margin-bottom: 11px;
}
